<!DOCTYPE html>
<html lang="kobis">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>안면도개발</title>

  <!-- JS 파일 연결 -->
  <script src="/source/plugin/jquery/jquery-1.12.4.min.js"></script>
  <script src="/source/plugin/jquery/jquery-migrate-1.4.1.min.js"></script>
  <!-- Plug-in, Library { -->
  <script src="/source/plugin/prefixfree.min.js" defer></script>
  <script src="/source/plugin/scrollbar/jquery.mCustomScrollbar.js" defer></script>
  <script src="/source/plugin/jquery.matchHeight.js" defer></script>
  <script src="/source/plugin/aos/aos.js" defer></script>
  <script src="/source/plugin/scrollbar/lenis.js" defer></script>
  <script src="/source/plugin/niceselect/jquery.nice-select.min.js" defer></script>
  <script src="/source/plugin/swiper/swiper-bundle.min.js" defer></script>
  <!-- } Plug-in, Library -->
  <script src="/source/js/functions.js" defer></script>
  <script src="/source/js/normal.js" defer></script>

  <!-- CSS 파일 연결 -->
  <!-- Plug-in, Library { -->
  <link rel="stylesheet" href="/source/plugin/aos/aos.css">
  <link rel="stylesheet" href="/source/plugin/scrollbar/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="/source/plugin/niceselect/nice-select.css">
  <link rel="stylesheet" href="/source/plugin/swiper/swiper-bundle.min.css">
  <!-- } Plug-in, Library -->
  <link rel="stylesheet" href="/source/css/fonts.css">
  <link rel="stylesheet" href="/source/css/common.css">
  <link rel="stylesheet" href="/source/css/normal.css">
  <link rel="stylesheet" href="/source/css/responsive.css">

</head>
<body>
  <div class="nt-cm_top">
    <h1 class="nt-logo">
      <a href="/views/index.html">
        <img src="/source/img/logo-white.png" alt="충청남도 로고">
      </a>
    </h1>
    <div class="nt-cm_cont">
      <div class="nt-wrapper">
        <span class="nt-object"></span>
        <p class="nt-txt1">안면도관광지개발</p>
        <p class="nt-txt2">
          천혜의 자연환경을 이용한 <b>다양한 관광자원의 개발</b>과 주변지역과 차별화된 개발계획으로 <br/>
          급증하는 관광수요에 부응하는 <b>관광지 개발계획을 수립</b>하고자 합니다.
        </p>
        <div class="nt-refer">
          <div class="nt-refer-list nt-list1">
            <span class="name">안면도 관광지 조성 계획(변경) 승인 고시문</span>
            <div class="nt-refer-over">
              <a href="" class="nt-refer-over-btn nt-refer-over-preview">미리보기<span class="nt-icon"></span></a>
              <a href="" class="nt-refer-over-btn nt-refer-over-download">다운로드<span class="nt-icon"></span></a>
            </div>
          </div>
          <div class="nt-refer-list nt-list2">
            <span class="name">안면도 관광지 조성계획도</span>
            <div class="nt-refer-over">
              <a href="" class="nt-refer-over-btn nt-refer-over-preview">미리보기<span class="nt-icon"></span></a>
              <a href="" class="nt-refer-over-btn nt-refer-over-download">다운로드<span class="nt-icon"></span></a>
            </div>
          </div>
          <div class="nt-refer-list nt-list3">
            <span class="name">안면도 관광지(1지구) 홍보 리플렛</span>
            <div class="nt-refer-over">
              <a href="" class="nt-refer-over-btn nt-refer-over-preview">미리보기<span class="nt-icon"></span></a>
              <a href="" class="nt-refer-over-btn nt-refer-over-download">다운로드<span class="nt-icon"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nt-tab">
    <div class="nt-wrapper">
      <div class="nt-tab_in">
        <a href="/views/index.html" class="nt-tab-btn">사업개요</a>
        <a href="/views/board.html" class="nt-tab-btn act">현황게시판</a>
        <a href="/views/board.html" class="nt-tab-btn">자료실</a>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="nt-wrapper">
      <!-- 게시판 상세 { -->
      <div class="bo_view_wrap">
        <div class="list-view-top list-view-top--type2">
          <p class="i-col-0 list-view-title-wrap">
            <span class="list-view-title">
              게시판 제목입니다.
            </span>
          </p>
          <ul class="i-col-0 td-info">
            <li>
              <span class="icon-wrap"><img src="/source/img/icon-date.png" alt="작성날짜"></span>
              <span class="info-text info-date">2022-10-13</span>
            </li>
            <li>
              <span class="icon-wrap"><img src="/source/img/icon-hits.png" alt="조회수"></span>
              <span class="info-text info-hits">203</span>
            </li>
            <li>
              <span class="icon-wrap"><img src="/source/img/icon-writer.png" alt="작성자"></span>
              <span class="info-text info-writer">관리자</span>
            </li>
          </ul>
          <ul class="i-col-0 list-view-top-btn-wrap">
            <li class="list-view-top-btn-item">
              <button onclick="printPage()" class="list-view-top-btn-link print"></button>
            </li>
          </ul>
        </div>
        <div class="notice-list-view-bot">
          <div class="list-file-wrap">
            <ul class="list-file-ul">
              <!-- loop { -->
              <li>
                <a href="" class="i-col-0 list-file-inner">
                  <img src="/source/img/icon-file.png" alt="첨부파일">
                  <span class="cut_text file-name">첨부파일명이 들어갑니다.pdf</span>
                  <p class="file-capacity"> (32KB)</p>
                </a>
              </li>
              <!-- } loop -->
              <li>
                <a href="" class="i-col-0 list-file-inner">
                  <img src="/source/img/icon-file.png" alt="첨부파일">
                  <span class="cut_text file-name">첨부파일명이 들어갑니다.pdf</span>
                  <p class="file-capacity"> (32KB)</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="notice-list-view-cont">
            <!-- 이미지가 있을 경우 { -->
            <div class="notice-list-view-img-box">
              <img src="/source/img/direction-img1.jpg" alt="상세 이미지">
            </div>
            <!-- } 이미지가 있을 경우 -->
            <div class="notice-list-view-cont-text">
              본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 
            </div>
          </div>
        </div>
        <div class="i-col-0 view-btn-wrap">
          <a href="" class="view-back-btn">목록으로</a>
        </div>
      </div>
      <!-- } 게시판 상세 -->
    </div>
  </div>
  
</body>
</html>