<!DOCTYPE html>
<html lang="kobis">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>안면도개발</title>

  <!-- JS 파일 연결 -->
  <script src="/source/plugin/jquery/jquery-1.12.4.min.js"></script>
  <script src="/source/plugin/jquery/jquery-migrate-1.4.1.min.js"></script>
  <!-- Plug-in, Library { -->
  <script src="/source/plugin/prefixfree.min.js" defer></script>
  <script src="/source/plugin/scrollbar/jquery.mCustomScrollbar.js" defer></script>
  <script src="/source/plugin/jquery.matchHeight.js" defer></script>
  <script src="/source/plugin/fancybox/fancybox.umd.js" defer></script>
  <script src="/source/plugin/aos/aos.js" defer></script>
  <script src="/source/plugin/scrollbar/lenis.js" defer></script>
  <script src="/source/plugin/niceselect/jquery.nice-select.min.js" defer></script>
  <script src="/source/plugin/swiper/swiper-bundle.min.js" defer></script>
  <!-- } Plug-in, Library -->
  <script src="/source/js/functions.js" defer></script>
  <script src="/source/js/normal.js" defer></script>

  <!-- CSS 파일 연결 -->
  <!-- Plug-in, Library { -->
  <link rel="stylesheet" href="/source/plugin/fancybox/fancybox.css">
  <link rel="stylesheet" href="/source/plugin/aos/aos.css">
  <link rel="stylesheet" href="/source/plugin/scrollbar/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="/source/plugin/niceselect/nice-select.css">
  <link rel="stylesheet" href="/source/plugin/swiper/swiper-bundle.min.css">
  <!-- } Plug-in, Library -->
  <link rel="stylesheet" href="/source/css/fonts.css">
  <link rel="stylesheet" href="/source/css/common.css">
  <link rel="stylesheet" href="/source/css/normal.css">
  <link rel="stylesheet" href="/source/css/responsive.css">

</head>
<body>
  <div class="nt-cm_top">
    <h1 class="nt-logo">
      <a href="/views/index.html">
        <img src="/source/img/logo-white.png" alt="충청남도 로고">
      </a>
    </h1>
    <div class="nt-cm_cont">
      <div class="nt-wrapper">
        <span class="nt-object"></span>
        <p class="nt-txt1">안면도관광지개발</p>
        <p class="nt-txt2">
          천혜의 자연환경을 이용한 <b>다양한 관광자원의 개발</b>과 주변지역과 차별화된 개발계획으로 <br/>
          급증하는 관광수요에 부응하는 <b>관광지 개발계획을 수립</b>하고자 합니다.
        </p>
        <div class="nt-refer">
          <div class="nt-refer-list nt-list1">
            <span class="name">안면도 관광지 조성 계획(변경) 승인 고시문</span>
            <div class="nt-refer-over">
              <a href="" class="nt-refer-over-btn nt-refer-over-preview">미리보기<span class="nt-icon"></span></a>
              <a href="" class="nt-refer-over-btn nt-refer-over-download">다운로드<span class="nt-icon"></span></a>
            </div>
          </div>
          <div class="nt-refer-list nt-list2">
            <span class="name">안면도 관광지 조성계획도</span>
            <div class="nt-refer-over">
              <a href="" class="nt-refer-over-btn nt-refer-over-preview">미리보기<span class="nt-icon"></span></a>
              <a href="" class="nt-refer-over-btn nt-refer-over-download">다운로드<span class="nt-icon"></span></a>
            </div>
          </div>
          <div class="nt-refer-list nt-list3">
            <span class="name">안면도 관광지(1지구) 홍보 리플렛</span>
            <div class="nt-refer-over">
              <a href="" class="nt-refer-over-btn nt-refer-over-preview">미리보기<span class="nt-icon"></span></a>
              <a href="" class="nt-refer-over-btn nt-refer-over-download">다운로드<span class="nt-icon"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nt-tab">
    <div class="nt-wrapper">
      <div class="nt-tab_in">
        <a href="/views/index.html" class="nt-tab-btn act">사업개요</a>
        <a href="/views/board.html" class="nt-tab-btn">현황게시판</a>
        <a href="/views/board.html" class="nt-tab-btn">자료실</a>
      </div>
    </div>
  </div>

  <div class="nt-cont">
    <div class="nt-cont_sec nt-goals">
      <div class="nt-wrapper">
        <div class="nt-cont_sec_top">
          <p class="nt-cont_sec-stit">안면도관광지개발 사업개요 01</p>
          <p class="nt-cont_sec-btit">개발목표</p>
        </div>
        <div class="nt-cont_sec_dt">
          <p class="nt-cont_sec-goals-txt">
            천혜의 자연환경을 이용한 <b>다양한 관광자원의 개발</b>과 <br/>
            주변지역과 차별화된 개발계획으로 급증하는 <b>관광수요에 부응하는 관광지개발계획 수립</b>
          </p>
        </div>
      </div>
    </div>
    <div class="nt-cont_sec nt-direction">
      <div class="nt-wrapper">
        <div class="nt-cont_sec_top">
          <p class="nt-cont_sec-stit">안면도관광지개발 사업개요 02</p>
          <p class="nt-cont_sec-btit">개발방향 설정</p>
        </div>
        <div class="nt-cont_sec_dt">
          <div class="nt-direction_lt">
            <div class="nt-direction_pnavi">
              <div class="nt-direction_pnavi-list act">
                <div class="nt-direction_pnavi-symbol symbol1">
                  <span>01</span>
                </div>
                <div class="nt-direction_pnavi-txt">환황해 시대의 관광중심지구로서의 개발계획 <br/>(중국 등 동북아 관광레저 흡수)</div>
              </div>
              <div class="nt-direction_pnavi-list">
                <div class="nt-direction_pnavi-symbol symbol2">
                  <span>02</span>
                </div>
                <div class="nt-direction_pnavi-txt">안면도가 가지는 <b>천혜의 자연환경과 <br/>최근의 투자환경을 고려한 계획</b></div>
              </div>
              <div class="nt-direction_pnavi-list">
                <div class="nt-direction_pnavi-symbol symbol2">
                  <span>03</span>
                </div>
                <div class="nt-direction_pnavi-txt"><b>투자자의 개발수익</b>이 보장되고 <br/><b>주민에게 도움</b>이 되는 개발계획 구상</div>
              </div>
              <div class="nt-direction_pnavi-list">
                <div class="nt-direction_pnavi-symbol symbol2">
                  <span>04</span>
                </div>
                <div class="nt-direction_pnavi-txt">다양한 컨셉의 숙박시설 제공으로 <br/><b>체류형 관광지 개발</b></div>
              </div>
            </div>
          </div>
          <div class="nt-direction_rt">
            <div class="nt-direction-img-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide nt-direction-img-slider-item item1"></div>
                <div class="swiper-slide nt-direction-img-slider-item item2"></div>
                <div class="swiper-slide nt-direction-img-slider-item item3"></div>
                <div class="swiper-slide nt-direction-img-slider-item item4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nt-cont_sec nt-promotion">
      <div class="nt-wrapper">
        <div class="nt-cont_sec_top nt-ta-left">
          <p class="nt-cont_sec-stit">안면도관광지개발 사업개요 03</p>
          <p class="nt-cont_sec-btit">안면도 투자유치 홍보 영상</p>
        </div>
        <div class="nt-cont_sec_dt">
          <div class="nt-promotion_lt">
            <div class="nt-promotion-video">
              <iframe allow="autoplay" scrolling="no" src="http://210.95.181.99/vod/vodPlayerRtmp.action?mediaID=9bda4cb74bac43b29ff80a0b1b450b5f&amp;width=840&amp;height=470&amp;autoplay=false" title="안면도 투자유치 홍보 영상"></iframe>
            </div>
          </div>
          <div class="nt-promotion_rt">
            <div class="nt-promotion-map">
              <img src="/source/img/anmyeondo.gif" class="anmyeondo-image" alt="안면도 개발 조성계획도">
              <a href="/source/img/anmyeondo.gif" data-fancybox data-caption="조성계획도" class="nt-promotion-map-enlarge">
                <img src="/source/img/enlarge-icon.png" alt="조성계획도 크게보기 버튼 아이콘">
                크게보기
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nt-cont_sec nt-activities">
      <div class="nt-wrapper">
        <div class="nt-cont_sec_top">
          <p class="nt-cont_sec-stit">안면도관광지개발 사업개요 04</p>
          <p class="nt-cont_sec-btit">도입활동 및 시설</p>
        </div>
        <div class="nt-cont_sec_dt">
          <div class="nt-activities_wrap">
            <div class="nt-activities-list nt-wid3">
              <div class="nt-activities-list_top">
                <span class="nt-activities-icon">
                  <img src="/source/img/facility-icon1.png" alt="">
                </span>
                <div class="nt-activities-titbox">
                  <p class="nt-activities-tit">공공편익시설</p>
                  <p class="nt-activities-tit-expl">도입시설 - 도로, 주차장, 폐기물처리시설</p>
                </div>
              </div>
              <div class="nt-activities-txtbox">
                <p class="nt-activities-txt">개발전략</p>
                <ul class="nt-activities-txt-expl">
                  <li>- 관광지 접근 기능강화와 관광객의 <br/>편의성 도모를 위해 설치</li>
                </ul>
              </div>
            </div>
            <div class="nt-activities-list nt-wid3">
              <div class="nt-activities-list_top">
                <span class="nt-activities-icon">
                  <img src="/source/img/facility-icon2.png" alt="">
                </span>
                <div class="nt-activities-titbox">
                  <p class="nt-activities-tit">휴양/문화시설</p>
                  <p class="nt-activities-tit-expl">도입시설 - 연수원, 아카데미하우스, 병원 등</p>
                </div>
              </div>
              <div class="nt-activities-txtbox">
                <p class="nt-activities-txt">개발전략</p>
                <ul class="nt-activities-txt-expl">
                  <li>- 기업단체를 위한 연수시설을 배치하고 체력단련, <br/>심신수양을 위한 부대시설 설치</li>
                  <li>- 심신단련을 위한 단체이용객을 위한 장소제공</li>
                </ul>
              </div>
            </div>
            <div class="nt-activities-list nt-wid3">
              <div class="nt-activities-list_top">
                <span class="nt-activities-icon">
                  <img src="/source/img/facility-icon3.png" alt="">
                </span>
                <div class="nt-activities-titbox">
                  <p class="nt-activities-tit">운동/오락시설</p>
                  <p class="nt-activities-tit-expl">도입시설 - 테마&워터파크, 골프장</p>
                </div>
              </div>
              <div class="nt-activities-txtbox">
                <p class="nt-activities-txt">개발전략</p>
                <ul class="nt-activities-txt-expl">
                  <li>- 안면도관광지만의 고유한 특색을 갖는 물리적, 경관적 <br/>특성을 적극 활용할 수 있는 시설 설치</li>
                  <li>- 고액소비형인 중·장년층을 위한 고급관광시설로 <br/>회원전용과 퍼블릭 배치로 유기적 연계</li>
                </ul>
              </div>
            </div>
            <div class="nt-activities-list nt-wid5">
              <div class="nt-activities-list_top">
                <span class="nt-activities-icon">
                  <img src="/source/img/facility-icon4.png" alt="">
                </span>
                <div class="nt-activities-titbox">
                  <p class="nt-activities-tit">숙박 및 상가시설</p>
                  <p class="nt-activities-tit-expl">도입시설 - 콘도, 호텔, 웰니스, 아울렛, 상가</p>
                </div>
              </div>
              <div class="nt-activities-txtbox">
                <p class="nt-activities-txt">개발전략</p>
                <ul class="nt-activities-txt-expl">
                  <li>- 가족위주의 이용객을 위한 테마형, 대규모 리조트형 펜션단지 조성</li>
                  <li>- 호텔은 특색 있는 건축물로 생동감 있는 건물구조를 갖추며 일부 수요층을 위해 고급 <br/>객실제공</li>
                  <li>- 골프장 등 시설지 주변에 소규모 쇼핑센터를 입지하여 쇼핑이용객의 편리성 도모</li>
                </ul>
              </div>
            </div>
            <div class="nt-activities-list nt-wid5">
              <div class="nt-activities-list_top">
                <span class="nt-activities-icon">
                  <img src="/source/img/facility-icon5.png" alt="">
                </span>
                <div class="nt-activities-titbox">
                  <p class="nt-activities-tit">기타</p>
                  <p class="nt-activities-tit-expl">도입시설 - 녹지</p>
                </div>
              </div>
              <div class="nt-activities-txtbox">
                <p class="nt-activities-txt">개발전략</p>
                <ul class="nt-activities-txt-expl">
                  <li>- 해안사구 및 안면송리 지역을 녹지로 설정하여 녹지체계의 근간이 될 수 있도록 배치</li>
                  <li>- 녹지 고유의 기능 및 환경을 유지할 수 있도록 조성</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nt-cm_ft">
    <div class="nt-wrapper">
      <div class="nt-cm_ft_wrap">
        <p class="nt-cm-copy">Copyright ⓒ CHUNGCHEONGNAM-DO. All Rights Reserved.</p>
        <p class="nt-cm-contact">
          <span>개발전략과 안면도개발팀</span>
          <span>041-635-4736</span>
        </p>
      </div>
    </div>
  </div>
</body>
</html>